body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    width: 100%;
    color: white;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin: 2rem 0px 0px 0px;
}

.title {
    margin: 0 auto;
    width: 100%;
    text-align: center;   
}


.timer-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.production-container {
    display: block;
    margin: 0 auto;    
}

.production-box {
    display: block;
    float: left;
    border: 2px solid white;
    width: 20%;    
    text-align: center;
    margin-left: 20%;
}

.production-text {
    font-size: 1rem;
    margin-top: 1.5%;
}

.production-value {
    font-size: 5rem;
}

.timer-value {        
    font-size: 30em;
    padding-top: 20px;
    font-weight: bold;
}

.negative-timer {
    background-color: red;    
}

.andon-timer {
    background-color: yellow !important;
    color: black !important;
}

.negative-timer-value {
    font-size: 28rem !important ;
}


